<p>
    <span class="glyphicon glyphicon-star" *ngFor="let star of stars"></span>
    <span class="glyphicon glyphicon-star-empty" *ngFor="let noStar of noStars"></span>

    <!-- <span [class]="rating > 0 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
    <span [class]="rating > 1 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
    <span [class]="rating > 2 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
    <span [class]="rating > 3 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
    <span [class]="rating > 4 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span> -->
</p>
